* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
    color: aliceblue;
    font-family: monospace;
}

h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

img {
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 0px;
}

input {
    background-color: black;
    color: white;
    margin-top: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;

    font-family: monospace;
    font-size: 1.5rem;
    height: 50px;
    width: 50vh;
    text-align: center;
}

p {
    position: absolute;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    text-align: center;
}

.btn {
    border: 1px solid white;
}

.btn:active {
    background-color: rgb(42, 42, 42);

}

h6 {
    margin: 25px;
    font-size: 1rem;
    width: 90%;
    text-align: center;
}

/*arreglo para apple*/
@media screen and (max-width:320px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 25px;
    }

    .caja {
        margin-top: 20px;
    }

    p {
        top: 250px;
    }

    img {
        margin-bottom: 0px;
    }

}

@media screen and (max-width:480px) {

    h1 {
        font-size: 2rem;
        margin-bottom: 25px;
    }

    .caja {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;

        overflow: hidden;
    }

    p {
        top: 270px;
    }

    img {
        margin-bottom: 0px;
    }

    input {
        width: 90%;
    }

}
